<mat-toolbar color="primary">
  <span>ngx-material-rating Demo</span>
</mat-toolbar>

<main>
  <h1>Using <code>ngx-material-rating</code></h1>


  <ng-container *ngFor="let rating of ratings; index as i">
    <div class="rating">
      <span>
        Rating {{rating.value}} of {{rating.max}}
        <ng-container *ngIf="rating.disabled">
          (disabled)
        </ng-container>
      </span>
      <ngx-material-rating [color]="rating.color" [disabled]="rating.disabled || false" [(ngModel)]="ratings[i].value"
        [max]="rating.max">
      </ngx-material-rating>
    </div>
  </ng-container>
</main>
